.headlines {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/*
.button {
    color: red;
    background-color: yellow;
}
*/

img {
    border: black;
    border-style: solid;
    border-radius: 12px;
}